* {
    box-sizing: border-box;
}
@media screen and (max-width: 650px) {
  html {
    width: 100%;
    display: block;
  }
}
header {
  display: flex;
  margin-left: 5em;
  padding:5px;

}

 /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
 @media screen and (max-width: 500px) {
  header a {
  width: auto;
  }
  .header-right {
    float: none;
  }
}
/*body*/
body{
    text-align: center;
}
.dark-mode {
  background-color: black;
  color: white;
}
a{
  color: white;
}
  
/*quick links*/
.links-container {
  padding: 2%;
  max-width: 98%;
  margin-left: 5%;
  .links {
    background-color: maroon;
    margin: 5%;
    padding: 1%;
    border-radius: 45px;
    color: white;
    font-size: 24px;
  }
}
/*contact form*/
.contact-form{
    background-color: lightgrey;
     border-radius: 5px;
     padding: 30px;
     border-radius: 15px 30px;
     box-shadow: 2px 3px 5px;
     border: 3px solid #f1f1f1;
} 
label{
   border-block: 100px;
}

input {
    padding-bottom: 5px;
    border-style: double;
   text-align: justify;
}

textarea{
    border-style: double;
}

button {
    cursor: pointer;
    background-color: #04AA6D;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float:none;
}



/*side nav*/
/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.8s; /* 0.5 second transition effect to slide in the sidebar */
  opacity: .9;
}

/* The sidebar links */
.sidebar a {
 
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.5s;
  text-align: left;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: inherit;
  color: white;
  padding: 10px 15px;
  border: none;
  position: inherit;
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}

  /*popup forms*/
 .form-popup {
  display: none;
  position: fixed;

  overflow-y: scroll;
  bottom: 2px;
  top: 2px;
  right: 15px;
  border: 3px solid blue;
  z-index: 9;
  }
  /*add style*/
  .form-container {
  background-image: radial-gradient(maroon, blue, gray);
  opacity: .9;
  max-width: 300px;
  padding: 10px;
  background-color: gray;

 /*add appropriate colors to fb.twitter, googlr*/
 * {box-sizing: border-box;}
 /*style the container*/
 .container {
     
     position: relative;
     border-radius: 5px;
     background-color: #f2f2f2;
     padding: 20px 0 30px 0;
     
 }

 /*style inputs and link buttons*/
 input, .btn {
     width: 100%;
     padding: 12px;
     border: none;
      border-radius: 4px;
      margin: 5px 0;
      opacity: 0.85;
      display: inline-block;
      font-size: 17px;
      line-height: 20px;
      text-decoration: none;
 }

 input:hover, .btn:hover {
     opacity: 0.8;
 }

 /*add appropriate colors to fb.twitter, googlr*/
 .fb {
     background-color: #3b5998;
     color: white;
 }

 .twitter {
     background-color: #55acee;
     color: white;
 }

 .google {
     background-color: #dd4b39;
     color: white;
 }

 /*style the submit button*/
 input[type=submit] {
     background-color: #04aa6d;
     color: white;
     cursor: pointer;
 }

 input[type=submit]:hover{
     background-color: #45a049;
 }


 /*clear floats after the clumn*/
 .row::after {
     content: "";
     display: table;
     clear: both;
 }


 /*hide some text on medium and large screens*/
 .hide-md-lg {
     display: none;
 }

 /*bottom container*/
 .bottom-container {
     text-align: center;
     background-color: #666;
     border-radius: 0 0 4px 4px;
 }

 /*when the screen is less than 650px wide, make the two column
 stack on top of each other ibnstead of next to each other*/
 @media screen and (max-width: 650px) {
     .col {
         width: 100%;
         margin-top: 0;
     }

 
 }
}

  .form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background-color: #f1f1f1;
  }
  /*when the input gets focus, do something*/
  .form-container input[type=text], .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
  }

  .form-container .cancel {
  background-color: red;
  }

  /*hovering effects on the btn*/
  .form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Progress bar */
.as-wrap .as-progress {
	position: relative;
	width: 100%;
	min-height:5px;
	margin-top:-5px;
	background: transparent;
	overflow: hidden;
	z-index:2;
}

.as-wrap .as-progress-value {
	position: absolute;
	top:0;
	left:0;
	min-height: 5px;
	min-width: 0;
	width:0;
	max-width: 100%;
	background: lime;
}

/* Navigation */
.csstransforms .as-wrap .as-nav a { transition: opacity .4s ease-out; }
.as-wrap .as-nav a {
	opacity: 0;
	position: absolute;
	top:0;
	height:100%;
	width:50px;
	text-align:center;
	color:white;
	z-index:2;
}
.as-wrap .as-nav .dir-prev { left:0; }
.as-wrap .as-nav .dir-next { right:0; }
.as-wrap .as-nav a:hover { 
	color:#000;
	opacity: 1;
}
.as-wrap.hovering-marker .as-nav a { opacity: 1; }
.as-wrap .as-nav a span {
	position: absolute;
	top:50%;
	left:0;
	margin-top:-40px;
	display:block;
	height:80px;
	width: 50px;
	background:lime;
	font-size:2em;
	line-height: 80px;
}

/* Marker */
.as-wrap .as-markers {
	list-style: none;
	text-align: center;
	padding:0; margin:0;
}
.as-wrap .as-markers .as-mark {
	display:inline-block;
	margin:10px 5px 0 5px;
}
.as-wrap .as-markers .as-mark a {
	display:block;
	text-decoration: none;
	color:#ccc;
}
.as-wrap .as-markers .as-mark a:hover, 
.as-wrap .as-markers .as-mark.active a { color:lime; }
.as-wrap .as-markers .as-mark a span {
	display:block;
	width: 10px;
	height:10px;
	font-size:40px;
	line-height: 10px;
}

/* Caption */
.as-wrap .as-item .caption {
	position: absolute;
	top:0;
	left:0;
	height: 100%;
	width:40%;
	background: #000;
	z-index:2;
	padding:0 20px 0 60px;
	box-sizing: border-box;
}
.rgba .as-wrap .as-item .caption { background:rgba(0,0,0,.5); }

@media (max-width: 767px) {
	/* Demo style */
  body {padding:0; margin:0;}
	.slide_1, .slide_2, .slide_3 {background-size: auto 100%;}
  .container {width:100%}
	/* *** */
	.as-wrap .as-view { height: 250px; }
	.as-wrap .as-view .as-slider .as-item .caption { width:100%; }
	.touch .as-wrap .as-nav { display:none;}
.as-wrap .as-item .caption {padding:1em;}
}/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/*progress skills*/
.ski {
  background-color: aliceblue;
  border-radius: 30px;
  box-shadow: 2px 3px 5px;
  padding-bottom: 2em;
}

#loader {
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  border-left: 16px solid pink;
  animation: spins 2s linear infinite;

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
}

/* Container for skill bars */
.skill-container {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}

.html {width: 99%; background-color: #04AA6D;} /* Green */
.css {width: 97%; background-color: #2196F3;} /* Blue */
.js {width: 98%; background-color: #f44336;} /* Red */
.php {width: 89%; background-color: #808080;} /* Dark Grey */






/*rating*/
.rate {
  margin-bottom: 1em;
  padding: 5px;
  box-shadow: 2px 3px 5px;
}
.fa {
  font-size: 25px;
}

.checked {
  color: gold;
}

/* Three column layout */
.side {
  float: left;
  width: 15%;
  margin-top: 10px;
}

.middle {
  float: left;
  width: 70%;
  margin-top: 10px;
}

/* Place text to the right */
.right {
  text-align: right;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The bar container */
.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

/* Individual bars */
.bar-5 {width: 60%; height: 18px; background-color: #04AA6D;}
.bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
.bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
.bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
.bar-1 {width: 15%; height: 18px; background-color: #f44336;}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
  .side, .middle {
    width: 100%;
  }
  /* Hide the right column on small screens */
  .right {
    display: none;
  }
}


.heading {
  text-align: center;
  font-size: 1rem;
  padding: 1rem ;
  background: #ffe99f;
  font-family: sans-serif;
}

.counter-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 0;
}

.social {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem 0;
}

.social-icon {
  font-size: 2rem;
  color: #fff;
  border-radius: 50%;
}

.social-icon i {
  padding: 0.7rem;
  border-radius: 50%;
  background-color: darkblue;

}

.social p {
  font-size: 1.5rem;
  font-family: sans-serif;
  padding: 10px 0;
}

.social h3 {
  font-size: 2.5rem;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
}

@media screen and (max-width: 768px) {
  .heading {
    font-size: 1.2rem;
  }

  .counter-container {
    flex-direction: column;
  }
}
  
/*styling the footer*/
/* Generic styling */
* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  padding-left: 0;
}
footer {
  background-color: #10182f;
  color: #bbb;
  line-height: 1.5;
}
footer a {
  text-decoration: none;
  color: #eee;
}
a:hover {
  text-decoration: underline;
}
.ft-title {
  color: #fff;
  font-family: "Merriweather", serif;
  font-size: 1.375rem;
  padding-bottom: 0.625rem;
}
/* Sticks footer to bottom */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.container {
  flex: 1;
}
/* Footer main */
.ft-main {
  padding: 1.25rem 1.875rem;
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (min-width: 29.8125rem /* 477px */) {
  .ft-main {
    justify-content: space-evenly;
  }
}
@media only screen and (min-width: 77.5rem /* 1240px */) {
  .ft-main {
    justify-content: space-evenly;
  }
}
.ft-main-item {
  padding: 1.25rem;
  min-width: 12.5rem;
}

/* Footer main | Newsletter form */
form {
  display: flex;
  flex-wrap: wrap;
}
input[type="email"] {
  border: 0;
  padding: 0.625rem;
  margin-top: 0.3125rem;
}
input[type="submit"] {
  background-color: #00d188;
  color: #fff;
  cursor: pointer;
  border: 0;
  padding: 0.625rem 0.9375rem;
  margin-top: 0.3125rem;
}
/* Footer social */
.ft-social {
  padding: 0 1.875rem 1.25rem;
}
.ft-social-list {
  display: flex;
  justify-content: center;
  border-top: 1px #777 solid;
  padding-top: 1.25rem;
}
.ft-social-list li {
  margin: 0.5rem;
  font-size: 1.25rem;
}
/* Footer legal */
.ft-legal {
  padding: 0.9375rem 1.875rem;
  background-color: #333;
}
.ft-legal-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.ft-legal-list li {
  margin: 0.125rem 0.625rem;
  white-space: nowrap;
}
/* one before the last child */
.ft-legal-list li:nth-last-child(2) {
    flex: 1;
}

/* style.css */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --dark-grey: #333333;
  --medium-grey: #636363;
  --light-grey: #eeeeee;
  --ash: #f4f4f4;
  --primary-color: #2b72fb;
  --white: white;
  --border: 1px solid var(--light-grey);
  --shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

body {
  font-family: inherit;
  background-color: var(--white);
  color: var(--dark-grey);
  letter-spacing: -0.4px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
}

.btn {
  display: block;
  background-color: var(--primary-color);
  color: var(--white);
  text-align: center;
  padding: 0.6rem 1.4rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 5px;
}

.icon {
  padding: 0.5rem;
  background-color: var(--light-grey);
  border-radius: 10px;
}

.logo {
  margin-right: 1.5rem;
}

#nav-menu {
  border-bottom: var(--border);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 2rem;
  height: 90px;
  padding: 1.2rem 3rem;
}

.menu {
  position: relative;
  background: var(--white);
}

.menu-bar li:first-child .dropdown {
  flex-direction: initial;
  min-width: 480px;
}

.menu-bar li:first-child ul:nth-child(1) {
  border-right: var(--border);
}

.menu-bar li:nth-child(n + 2) ul:nth-child(1) {
  border-bottom: var(--border);
}

.menu-bar .dropdown-link-title {
  font-weight: 600;
}

.menu-bar .nav-link {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -0.6px;
  padding: 0.3rem;
  min-width: 60px;
  margin: 0 0.6rem;
}

.menu-bar .nav-link:hover,
.dropdown-link:hover {
  color: var(--primary-color);
}

.nav-start,
.nav-end,
.menu-bar,
.right-container,
.right-container .search {
  display: flex;
  align-items: center;
}

.dropdown {
  display: flex;
  flex-direction: column;
  min-width: 230px;
  background-color: var(--white);
  border-radius: 10px;
  position: absolute;
  top: 36px;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.97) translateX(-5px);
  transition: 0.1s ease-in-out;
  box-shadow: var(--shadow);
}

.dropdown.active {
  visibility: visible;
  opacity: 1;
  transform: scale(1) translateX(5px);
}

.dropdown ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.2rem;
  font-size: 0.95rem;
}

.dropdown-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.15rem;
}

.dropdown-link {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem 0;
  border-radius: 7px;
  transition: 0.1s ease-in-out;
}

.dropdown-link p {
  font-size: 0.8rem;
  color: var(--medium-grey);
}

.right-container {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.right-container .search {
  position: relative;
}

.right-container img {
  border-radius: 50%;
}

.search input {
  background-color: var(--ash);
  border: none;
  border-radius: 6px;
  padding: 0.7rem;
  padding-left: 2.4rem;
  font-size: 16px;
  width: 100%;
  border: var(--border);
}

.search .bx-search {
  position: absolute;
  left: 10px;
  top: 50%;
  font-size: 1.3rem;
  transform: translateY(-50%);
  opacity: 0.6;
}

#hamburger {
  display: none;
  padding: 0.1rem;
  margin-left: 1rem;
  font-size: 1.9rem;
}

@media (max-width: 1100px) {
  #hamburger {
    display: block;
  }

  .container {
    padding: 1.2rem;
  }

  .menu {
    display: none;
    position: absolute;
    top: 87px;
    left: 0;
    min-height: 100vh;
    width: 100vw;
  }

  .menu-bar li:first-child ul:nth-child(1) {
    border-right: none;
    border-bottom: var(--border);
  }

  .dropdown {
    display: none;
    min-width: 100%;
    border: none !important;
    border-radius: 5px;
    position: static;
    top: 0;
    left: 0;
    visibility: visible;
    opacity: 1;
    transform: none;
    box-shadow: none;
  }

  .menu.show,
  .dropdown.active {
    display: block;
  }

  .dropdown ul {
    padding-left: 0.3rem;
  }

  .menu-bar {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: 1rem;
    padding: 1rem;
  }

  .menu-bar .nav-link {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0;
  }

  .menu-bar li:first-child .dropdown {
    min-width: 100%;
  }

  .menu-bar > li:not(:last-child) {
    padding-bottom: 0.5rem;
    border-bottom: var(--border);
  }
}

@media (max-width: 600px) {
  .right-container {
    display: none;
  }
}
